/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
/* Proporção no tamanho das fontes */
@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

/* Background, color e etc */
body {
  height: 100vh;
  background-color: #16181c;
  color: #eff7fe;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #363b45;
  border-radius: 10px;
}
